Builds
Logs
Library
Temp
obj
.vs
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/Oculus.VR.Editor.csproj
/Oculus.VR.Scripts.Editor.csproj
/Oculus.VR.csproj
/Unity.Analytics.DataPrivacy.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.PackageManagerUI.Editor.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.TextMeshPro.csproj
/poetree.sln
